[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
presidio-analyzer = "*"
presidio-anonymizer = "*"
langchain = "*"
openai = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
